// $bg-img: url('../../assets/img/pokebolaAberta.png');
// $bg-img: url('../../assets/img/pokebolaAberta.png');
$bg-img: url('../../assets/img/pokebolaTransparente.png');
.card{
    display: block;
    position: relative;
    box-shadow: 0 0 5px #1917178c;
    border-radius: 5px;
    margin: 1em;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.468);

}
.card::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background: $bg-img center center;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.nome{
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
.imagem{
    width: 200px;
    height: 200px;
    z-index: 2;
}